<a href="https://colab.research.google.com/github/arikalamonisha/ML_ICP_1/blob/main/ML_ICP1_700762574(MONISHA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# List of ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list and find the min and max age
ages.sort()
min_age = ages[0]
max_age = ages[-1]

print(f"Sorted ages: {ages}")
print(f"Min age: {min_age}")
print(f"Max age: {max_age}")

# Add the min age and the max age again to the list
ages.append(min_age)
ages.append(max_age)
print(f"Ages after adding min and max again: {ages}")

# Sort the list again after adding the min and max
ages.sort()

# Find the median age
n = len(ages)
if n % 2 == 0:
    median_age = (ages[n//2 - 1] + ages[n//2]) / 2
else:
    median_age = ages[n//2]
print(f"Median age: {median_age}")

# Find the average age
average_age = sum(ages) / n
print(f"Average age: {average_age}")

# Find the range of the ages (max minus min)
age_range = max_age - min_age
print(f"Range of ages: {age_range}")

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26
Ages after adding min and max again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median age: 24.0
Average age: 22.75
Range of ages: 7

In [ ]:
# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, age to the dog dictionary
dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Golden Retriever'
dog['legs'] = 4
dog['age'] = 5

print("Dog dictionary:", dog)

# Create a student dictionary and add various keys
student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 22,
    'marital_status': 'Single',
    'skills': ['Python', 'Java'],
    'country': 'USA',
    'city': 'New York',
    'address': '123 Main St'
}

print("Student dictionary:", student)

# Get the length of the student dictionary
student_length = len(student)
print("Length of student dictionary:", student_length)

# Get the value of skills and check the data type
skills = student['skills']
print("Skills:", skills)
print("Data type of skills:", type(skills))

# Modify the skills values by adding one or two skills
student['skills'].append('C++')
student['skills'].append('SQL')
print("Updated skills:", student['skills'])

# Get the dictionary keys as a list
student_keys = list(student.keys())
print("Student dictionary keys:", student_keys)

# Get the dictionary values as a list
student_values = list(student.values())
print("Student dictionary values:", student_values)

Dog dictionary: {'name': 'Buddy', 'color': 'Brown', 'breed': 'Golden Retriever', 'legs': 4, 'age': 5}
Student dictionary: {'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 22, 'marital_status': 'Single', 'skills': ['Python', 'Java'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}
Length of student dictionary: 9
Skills: ['Python', 'Java']
Data type of skills: <class 'list'>
Updated skills: ['Python', 'Java', 'C++', 'SQL']
Student dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Student dictionary values: ['John', 'Doe', 'Male', 22, 'Single', ['Python', 'Java', 'C++', 'SQL'], 'USA', 'New York', '123 Main St']

In [ ]:
# Create a tuple containing names of your sisters and your brothers
sisters = ('Moni', 'chandu', 'navya')
brothers = ('sai', 'maurya', 'jashu')

# Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers
print("Siblings:", siblings)

# How many siblings do you have?
num_siblings = len(siblings)
print("Number of siblings:", num_siblings)

# Modify the siblings tuple and add the name of your father and mother and assign it to family_members
family_members = siblings + ('ram', 'sita')
print("Family members:", family_members)

Siblings: ('Moni', 'chandu', 'navya', 'sai', 'maurya', 'jashu')
Number of siblings: 6
Family members: ('Moni', 'chandu', 'navya', 'sai', 'maurya', 'jashu', 'ram', 'sita')

In [ ]:
# Initial sets and list
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set it_companies
len_it_companies = len(it_companies)
print("Length of it_companies set:", len_it_companies)

# Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("it_companies after adding 'Twitter':", it_companies)

# Insert multiple IT companies at once to the set it_companies
it_companies.update(['Snapchat', 'LinkedIn', 'Netflix'])
print("it_companies after adding multiple companies:", it_companies)

# Remove one of the companies from the set it_companies
it_companies.remove('Facebook')  # Example of removing 'Facebook'
print("it_companies after removing 'Facebook':", it_companies)

# Difference between remove and discard
# remove() will raise a KeyError if the item does not exist
# discard() will not raise an error if the item does not exist
it_companies.discard('NonExistentCompany')  # No error if the item does not exist
# it_companies.remove('NonExistentCompany')  # This would raise a KeyError if uncommented

# Join A and B
A_union_B = A.union(B)
print("A union B:", A_union_B)

# Find A intersection B
A_intersection_B = A.intersection(B)
print("A intersection B:", A_intersection_B)

# Is A subset of B
A_subset_B = A.issubset(B)
print("Is A subset of B:", A_subset_B)

# Are A and B disjoint sets
A_disjoint_B = A.isdisjoint(B)
print("Are A and B disjoint sets:", A_disjoint_B)

# Join A with B and B with A (Union is commutative)
A_union_B = A.union(B)
B_union_A = B.union(A)
print("A union B:", A_union_B)
print("B union A:", B_union_A)

# Symmetric difference between A and B
A_sym_diff_B = A.symmetric_difference(B)
print("Symmetric difference between A and B:", A_sym_diff_B)

# Delete the sets completely
del A
del B
# print(A)  # This would raise a NameError if uncommented
# print(B)  # This would raise a NameError if uncommented

# Convert the ages to a set and compare the length of the list and the set
age_set = set(age)
print("Original age list:", age)
print("Converted age set:", age_set)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of it_companies set: 7
it_companies after adding 'Twitter': {'Apple', 'Microsoft', 'IBM', 'Amazon', 'Oracle', 'Twitter', 'Facebook', 'Google'}
it_companies after adding multiple companies: {'Snapchat', 'Amazon', 'Oracle', 'LinkedIn', 'Twitter', 'Google', 'Netflix', 'Apple', 'Microsoft', 'IBM', 'Facebook'}
it_companies after removing 'Facebook': {'Snapchat', 'Amazon', 'Oracle', 'LinkedIn', 'Twitter', 'Google', 'Netflix', 'Apple', 'Microsoft', 'IBM'}
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Original age list: [22, 19, 24, 25, 26, 24, 25, 24]
Converted age set: {19, 22, 24, 25, 26}
Length of age list: 8
Length of age set: 5

In [ ]:
import math

# Given radius
radius = 30

# Calculate the area of the circle
_area_of_circle_ = math.pi * radius**2
print("Area of the circle with radius 30 meters:", _area_of_circle_)

# Calculate the circumference of the circle
_circum_of_circle_ = 2 * math.pi * radius
print("Circumference of the circle with radius 30 meters:", _circum_of_circle_)

# Take radius as user input and calculate the area
user_radius = float(input("Enter the radius of the circle: "))
user_area_of_circle = math.pi * user_radius**2
print(f"Area of the circle with radius {user_radius} meters:", user_area_of_circle)

Area of the circle with radius 30 meters: 2827.4333882308138
Circumference of the circle with radius 30 meters: 188.49555921538757
Enter the radius of the circle: 30
Area of the circle with radius 30.0 meters: 2827.4333882308138

In [ ]:
# Given sentence
sentence = "I am a teacher and I love to inspire and teach people"

# Split the sentence into words
words = sentence.split()

# Convert the list of words to a set to get unique words
unique_words = set(words)

# Get the number of unique words
num_unique_words = len(unique_words)

print("Unique words:", unique_words)
print("Number of unique words:", num_unique_words)

Unique words: {'a', 'people', 'to', 'inspire', 'teach', 'and', 'I', 'teacher', 'love', 'am'}
Number of unique words: 10

In [ ]:
# Using tab escape sequence to format the lines
print("Name\t\tAge\tCountry\t\tCity")
print("Asabeneh\t250\tFinland\t\tHelsinki")

Name		Age	Country		City
Asabeneh	250	Finland		Helsinki

In [ ]:
# Given radius
radius = 10

# Calculate the area of the circle
area = 3.14 * radius ** 2

# Using string formatting to display the message
message = "The area of a circle with radius {} is {} meters square.".format(radius, area)
print(message)

# Alternatively, using f-string formatting (Python 3.6+)
message_fstring = f"The area of a circle with radius {radius} is {area} meters square."
print(message_fstring)

The area of a circle with radius 10 is 314.0 meters square.
The area of a circle with radius 10 is 314.0 meters square.

In [ ]:
# Conversion factor from pounds to kilograms
lbs_to_kg = 0.453592

# Read the number of students
N = int(input("Enter the number of students: "))

# Initialize an empty list to store weights in pounds
weights_lbs = []

# Read weights of N students
for i in range(N):
    weight = float(input(f"Enter the weight of student {i+1} in pounds: "))
    weights_lbs.append(weight)

# Initialize an empty list to store weights in kilograms
weights_kg = []

# Convert each weight to kilograms and add to the weights_kg list
for weight in weights_lbs:
    weight_kg = round(weight * lbs_to_kg, 2)  # Convert to kg and round to 2 decimal places
    weights_kg.append(weight_kg)

# Print the input weights and the converted weights
print("Weights in pounds:", weights_lbs)
print("Weights in kilograms:", weights_kg)

Enter the number of students: 4
Enter the weight of student 1 in pounds: 150
Enter the weight of student 2 in pounds: 155
Enter the weight of student 3 in pounds: 145
Enter the weight of student 4 in pounds: 148
Weights in pounds: [150.0, 155.0, 145.0, 148.0]
Weights in kilograms: [68.04, 70.31, 65.77, 67.13]